@use '../../../_index.scss' as *;

.confirm-dialog-container {
  display: flex;
  flex-direction: column;
  border: $pink 1px solid;
  border-radius: 4px;
  padding: 2rem 4rem;
  background: $blues-gradient;
  color: white;
  min-width: 25vw;

  .confirm-dialog-title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
  }

  .confirm-dialog-message {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: $pink;
  }

  .confirm-dialog-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;

    button {
      margin: 0;
    }
  }
}