.followers-container {
  padding: 2rem;
}

.followers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.no-followers-message {
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  padding: 2rem;
}

