@use '../../../_index.scss' as *;

.search-container {
  margin: 6rem 0;
  max-width: 100%;

  .input-container {
    max-width: 50%;
  }
}

.top-container {
  margin: 0 0 6rem 0;
}

.search-results-content {
  width: calc(100% + 8rem);
  margin: -2rem -4rem;
  overflow: hidden;
}

.results-count{
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.search-result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: $pink 0.5px solid;
  padding: 1rem 2rem;

  &:not(:first-child) {
    border-top: $pink 1px solid;
  }

  .search-result-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 100px;
      width: 63px;
      margin-right: 2rem;
    }

    .search-result-title {
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .search-result-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background: $reds-gradient;
      border: none;
      border-radius: 4px;
      font-weight: bolder;
      margin: 0.5rem;
      cursor: pointer;
      padding: 0 0.5rem;
      transition: box-shadow 0.3s ease, background-color 0.3s ease, border 0.3s ease;

      &.active {
        background: transparent;
        border: #E94560 1px solid;

        &:hover {
        }
      }

      img {
        height: 16px;
        width: 16px;
        margin: 0.5rem 0.25rem 0.5rem 0;

      }

      &:hover {
        box-shadow: 0 0 10px 1px $pink;
      }
    }
  }
}

