@use '../../../_index.scss' as *;

.reading-form-container {
  display: flex;
  flex-direction: column;
  border: $pink 1px solid;
  border-radius: 4px;
  padding: 2rem 4rem;
  width: 30vw;
  background: $blues-gradient;
  color: white;

  .reading-form-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .reading-form {
    display: flex;
    flex-direction: column;

    label {
      color: $pink;
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }

    .input-container {
      padding: 0 0.5rem;
      margin-bottom: 1rem;
    }

    .datetime-picker {
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 1rem 0;

      input[type="checkbox"] {
        width: auto;
        cursor: pointer;
      }

      label {
        margin: 0;
        cursor: pointer;
      }
    }

    button {
      margin: 1rem 0 0 0;
    }
  }
}