<div class="reset-password-container">
    <form #changeForm="ngForm" (ngSubmit)="onSubmit(changeForm)" *ngIf="!isSubmitted">
        <div>
            <label class="block text-900 font-medium mb-2" for="password">Введите новый пароль</label>
            <input id="password" name="password" ngModel pInputText placeholder="Новый пароль"
                   type="password">
            <label class="block text-900 font-medium mb-2" for="passwordConfirmation">Подтвердите пароль</label>
            <input id="passwordConfirmation" name="passwordConfirmation" ngModel pInputText
                   placeholder="Пароль"
                   type="password">
        </div>
        <button [disabled]="changeForm.value.password != changeForm.value.passwordConfirmation || changeForm.value.password == '' || changeForm.value.passwordConfirmation == ''" class="defaultButton" label="Сменить пароль" pButton pRipple></button>
        <a routerLink="/">На главную</a>
    </form>
</div>

<div class="success-message" *ngIf="isSubmitted">
    <p>Пароль успешно обновлен</p>
    <a routerLink="/">
        <button class="defaultButton">На главную</button>
    </a>
</div>