@use '../../../_index.scss' as *;

.profile-form-container {
  border: $pink 1px solid;
  border-radius: 4px;
  background: $blues-gradient;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .profile-form-container-inputs {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: 30vw;
  }

  .profile-form-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .profile-form {
    display: flex;
    flex-direction: column;

    label {
      color: $pink;
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }

    .input-container {
      padding: 0 0.5rem;
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
    }

    .profile-error {
      color: #ff4444;
      font-size: 0.75rem;
      margin: 0.25rem 0;
    }

    button {
      margin: 1rem 0 0 0;
    }
  }

  .profile-form-avatar-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    > img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      margin-top: 6rem;
      border: 2px solid $pink;
    }
  }
}