@use '../../../_index.scss' as *;

.primary-button {
  background: $reds-gradient;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px 1px $pink;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}