@use '../../../_index.scss' as *;

.card-element {
  display: flex;
  flex-direction: column;
  border: $pink 1px solid;
  border-radius: 4px;
  overflow: hidden;
  margin: 0;
  padding: 0;

  .top-card-container {
    position: relative;
    cursor: pointer;
    height: 30vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;
    }
  }

  .card-info-decoration {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 120px;
    height: 30px;
    background: linear-gradient(90deg, #181D35, #1A1A2E);
    border-top-left-radius: 4px;
    border-top: $pink 1px solid;
    border-left: $pink 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: $pink 1px solid;
    background: $blues-reversed-gradient;

    .card-text-line {
      position: relative;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      margin: 0.75rem 0.5rem 0.5rem 0.5rem;
    }

    .card-text-line .card-title,
    .card-text-line .card-description {
      display: inline-block;
      margin-right: 0.5rem;
    }

    .card-title {
      font-weight: bolder;
      margin-bottom: 0.25rem;
    }

    .card-text-line--marquee {
      animation: card-text-marquee 10s linear infinite;
    }

    @keyframes card-text-marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .card-button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background: $reds-gradient;
      border: none;
      border-radius: 4px;
      font-weight: bolder;
      outline: none;
      margin: 0.5rem;
      cursor: pointer;
      transition: box-shadow 0.3s ease, background 0.3s ease, outline 0.3s ease;;

      img {
        height: 16px;
        width: 16px;
        margin: 0.5rem 0.25rem 0.5rem 0;
      }

      &:hover {
        box-shadow: 0 0 10px 1px $pink;
      }
    }

    .card-button--clicked {
      background: transparent;
      outline: $pink 1px solid;
    }
  }
}