@use "../../../_index.scss" as *;

.subscriptions-container {
  padding: 2rem;
}

.subscriptions-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.no-subscriptions-message {
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  padding: 2rem;
}

.container-title {
  position: relative;
}