$reds-gradient: linear-gradient(90deg, #E94560, #C72C41);
$reds-reversed-gradient: linear-gradient(90deg, #C72C41, #E94560);
$blues-gradient: linear-gradient(90deg, #1A1A2E, #16213E);
$blues-reversed-gradient: linear-gradient(90deg, #16213E, #1A1A2E);
$pink: #E94560;
$dark-blue: #0F0F1E;