.stars-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  .star {
    height: 16px;
    width: 16px;
    scale: 0.8;
  }

  .star.clickable {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }
}